body {
  margin: 0;
}

.common-button {
  text-decoration: none;
  padding: 10px 40px;
  background-color: rgb(197, 55, 133);
  color: white;
  border-radius: 5px;
}

.secondary-color {
  color: rgb(245, 160, 1);
}

.big-font {
  font-size: 60px;
  font-weight: 700;
}

.top-second-header {
  margin-top: -50px;
}

.primary-font-family {
  font-family: 'Lato', sans-serif;
}
.secondary-font-family {
  font-family: 'Fira Sans', sans-serif;
}
.half-width {
  width: 50%;
}

#top-section {
  display: flex;
  margin-bottom: 0;
}

#top-section img {
  width: 60%;
  padding-top: 60px;
}

.mission {
  padding: 80px 120px;
}

.mission div {
  border-left: 5px solid rgb(221, 2, 155);
  padding-left: 10px;
}

#mission-varities-section {
  padding: 120px;
  margin-top: -150px;
}

.mission-varities {
  display: flex;
}

.mission-varities-items {
  padding: 15px 50px;
  margin-right: 25px;
  border-radius: 25px;
}

.mission-varities-items img {
  width: 150px;
  height: 150px;
}

#mission-varities-col-1 {
  background-color: rgb(193, 230, 230);
}

#mission-varities-col-2 {
  background-color: rgb(236, 195, 227);
}

#mission-varities-col-3 {
  background-color: rgb(240, 240, 160);
}

#mission-varities-section h1 {
  text-align: center;
}
