body {
  margin: 0;
}

.common-button {
  text-decoration: none;
  padding: 15px 40px;
  background-color: rgb(197, 55, 133);
  color: white;
  border-radius: 5px;
  margin-right: 15px;
}

.secondary-color {
  color: rgb(245, 160, 1);
}

.big-font {
  font-size: 60px;
  font-weight: 700;
}

.top-second-header {
  margin-top: -50px;
}

.primary-font-family {
  font-family: 'Lato', sans-serif;
}
.secondary-font-family {
  font-family: 'Fira Sans', sans-serif;
}
.courgette-font {
  font-family: 'Courgette', cursive;
}

.half-width {
  width: 50%;
}

.white {
  color: white;
}
#top-section {
  display: flex;
  margin-bottom: 0;
}

#top-section img {
  width: 60%;
  padding-top: 60px;
}

.mission {
  padding: 80px 120px;
}

.mission div {
  border-left: 5px solid rgb(221, 2, 155);
  padding-left: 10px;
}

#mission-varities-section {
  padding: 120px;
  margin-top: -150px;
}

.mission-varities {
  display: flex;
}

.mission-varities-items {
  padding: 15px 50px;
  margin-right: 25px;
  border-radius: 25px;
}

.mission-varities-items img {
  width: 150px;
  height: 150px;
}

#mission-varities-col-1 {
  background-color: rgb(193, 230, 230);
}

#mission-varities-col-2 {
  background-color: rgb(236, 195, 227);
}

#mission-varities-col-3 {
  background-color: rgb(240, 240, 160);
}

#mission-varities-section h1 {
  text-align: center;
}

#doc-section-1 {
  display: flex;
  padding-left: 120px;
  padding-right: 150px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#doc-section-1 img {
  width: 90%;
}

#doc-section-2 {
  display: flex;
  padding-left: 120px;
  padding-right: 150px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 100px;
}

#doc-section-2 img {
  width: 90%;
}

.doc1-txt {
  padding-top: 50px;
}

.doc1-txt p {
  margin-bottom: 40px;
}

.doc1-txt h2 {
  font-size: 36px;
}

.doc2-txt {
  padding-top: 50px;
}

.doc2-txt p {
  margin-bottom: 40px;
  padding-right: 120px;
}

.doc2-txt h2 {
  font-size: 36px;
}

#service-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/avevadigital.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 120px;
  padding-bottom: 120px;
  margin-top: 100px;
}

#service-section div {
  text-align: center;
}

footer {
  text-align: center;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 20px;
}

#mission-text {
  margin-bottom: 40px;
}
